<!DOCTYPE html>
<html>
<body>
<p><b>音樂</b></p>
<p><strong>個人喜歡的歌手:黃垂靈</strong></p>
<p><small>喜歡的歌曲:See tinh</small></p>
<p><i>連結:<br>https://www.youtube.com/watch?v=X76W7WXAmdQ
</i></p>
</body>
</html> 
